* {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;

}

.margin-top-10 {
  margin-top: 10px;
}
* {
    font-family: 'Raleway', sans-serif;
  
  }
  
  .margin-top-20 {
    margin-top: 20px;
  }
  
  .margin-top-35 {
    margin-top: 35px;
  }
  
  .margin-top-50 {
    margin-top: 50px;
  }
  
  .margin-top-75 {
    margin-top: 75px;
  }
  
  .margin-top-100 {
    margin-top: 100px;
  }
  
  .margin-bottom-20 {
    margin-bottom: 20px;
  }
  
  .margin-bottom-50 {
    margin-bottom: 50px;
  }
  
  .margin-bottom-75 {
    margin-bottom: 75px;
  }
  
  .margin-bottom-100 {
    margin-bottom: 100px;
  }
  
  h1 {
    font-size: 31px;
  }
  
  
  h3 {
    font-size: 14px;
    color: #5b6a86;
    font-weight: bold;
  }
  
  nav {
    background-color: white!important;
  }
  
  .navbar-top {
    font-size: 12px;
    /* padding: 0px 0; */
    color: #5b6987;
    font-weight: 600;
    line-height: 50px;
  }
  
  .caret-right::after {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    vertical-align: middle;
  }
  
  
  #new {
    background-color: rgb(0,215,210);
    padding: 5px;
  
    border-radius: 5px;
    font-size: 9px;
    font-weight: bold;
  }
  
  .navbar-top a {
    color: #5b6987;
  }
  
  .navbar-top-top {
    display: none;
  }
  
  .navbar-top a:hover {
    color: #006aff;
    text-decoration: none;
  }
  
  .navbar-top ul li{
    display: inline-block;
    float: right;
  }
  #largebtnID{
      border:1px solid white;
  }
  
  .navbar-top ul li a {
    padding: 0px 10px;
  }
  
  hr {
  margin: 0;
  width: 100%;
  }
  
  #logo {
  
    max-height: 30px;
  
  }
  
  .navbar-default .navbar-nav>li>a {
    color: #031b4f;
    line-height: 33px;
  }
  
  .btn-primary {
    font-weight: bold;
    background-color: #006aff;
    padding: 7px 15px;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #006aff;
  }
  
  .btn-primary.sign-in {
    background-color: white;
    color: #006aff;
    border: 1px solid #006aff;
  }
  
  .btn-primary.sign-in:hover {
    background-color: #006aff;
    color: white;
  }
  
  .jumbotron {
    padding-top: 51px;
    padding-bottom: 180px;
    background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  #fast-sign-up {
    background-color: white;
    height: 469px;
    max-width: 370px;
    border-radius: 8px;
    color: #031b4e;
    font-weight: bold;
    padding: 0;
  }
  
  #fast-sign-up p {
    font-weight: 500;
    font-size: 18px;
    padding: 20px;
    background-color: #f3f5f9;
    border-radius: 8px 8px 0 0;
  }
  
  .form-sign-up {
    width: 80%;
    margin-left: 34px;
  }
  
  .jumbotron .form-control {
    margin-bottom: 10px;
    padding: 25px;
    border-color: rgba(194, 194, 194, 0.5);
    box-shadow: none;
    line-height: 0;
  }
  
  .jumbotron .form-control::placeholder {
    color: rgba(130, 130, 130, 1);
    font-weight: lighter;
  }
  
  .jumbotron .form-control:focus {
    border-color: #0069ff;
    outline: #0069ff;
    box-shadow: none;
  }
  
  .btn-primary.btn-lg.form-control:hover {
    background-color: #1633ff;
    transition: all .3s;
  }
  
  .jumbotron .btn-primary.btn-lg.form-control {
    margin-bottom: 30px;
  }
  
  .sign-up-with-google {
    width: 80%;
    margin-left: 34px;
  }
  
  .sign-up-with-google button {
    border: none;
    border: 1px  solid #1633ff;
    font-size: 1em;
  }
  
  #sign-up-hover:hover {
    color: #031b4e;
    border-color: black;
    background-color: white;
  }
  
  #gmail:hover {
    color: #1633ff;
  
  }
  
   #github  {
     border-color: #1633ff;
     color: #1633ff;
  
   }
  
   #github:hover {
     border-color: black;
     background-color: white;
   }
  
   #sign-up-hover {
     width: calc(100% - 55px);
     color: #1633ff;
   }
  
   .terms-of-service {
     margin-left:34px;
  
   }
  
   small a {
     color: white;
   }
  
   small a:hover {
     color: white;
   }
  
  #partners {
    background-color: #f2f5f9;
  }
  
  /* per visualizzare l'hamburger menu fino ai 992px anziché 768px */
  @media (min-width: 768px) {
  
      .jumbotron h1 {
        font-size: 58px;
      }
  
      .navbar-header {
          float: none;
      }
  
      .navbar-toggle {
          display: block;
      }
  
      .navbar-collapse.collapse {
          display: none !important; /* per sovrascrivere l'important di bootstrap */
      }
  }
  
  @media (min-width: 992px) {
  
      .text-jumbotron {
        text-align: left;
      }
  }
  
  /***** Media query fatta solo per l'hamburger menu  *****/
  @media (min-width: 1037px) {
  
      .navbar-top-top {
        display: block;
      }
  
      .navbar-header {
          float: left;
      }
  
      .navbar-toggle {
          display: none;
      }
  
      .navbar-collapse.collapse {
          display: block !important; /* per sovrascrivere l'important di bootstrap */
      }
  
      .jumbotron {
        margin-top: 115px;
      }
  }
  
.margin-top-20 {
  margin-top: 20px;
}

.margin-top-35 {
  margin-top: 35px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-75 {
  margin-top: 75px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-75 {
  margin-bottom: 75px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.float-right {
  float: right;
}

.color-blue {
  color: #031b4e;
}

.color-dark-blue {
  color: #1634ff;
}

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

h1 {
  font-size: 31px;
}

h2 {
  color: #031b4e;
}

h3 {
  font-size: 14px;
  color: #5b6a86;
  font-weight: bold;
}

nav {
  background-color: white!important;
}

.navbar-top {
  font-size: 12px;
  /* padding: 0px 0; */
  color: #5b6987;
  font-weight: 600;
  line-height: 50px;
}

.caret-right::after {
  content: '\f105';
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  vertical-align: middle;
  margin-left: 10px;
}


#new {
  background-color: rgb(0,215,210);
  padding: 5px;

  border-radius: 5px;
  font-size: 9px;
  font-weight: bold;
}

.navbar-top a {
  color: #5b6987;
}

.navbar-top-top {
  display: none;
}

.navbar-top a:hover {
  color: #006aff;
  text-decoration: none;
}

.navbar-top ul li{
  display: inline-block;
  float: right;
}

.navbar-top ul li a {
  padding: 0px 10px;
}

hr {
margin: 0;
width: 100%;
}

#logo {

  max-height: 30px;

}

.navbar-default .navbar-nav>li>a {
  color: #031b4f;
  line-height: 33px;
}

.btn-primary {
  font-weight: bold;
  background-color: #006aff;
  padding: 7px 15px;
  border: none;
}

.btn-primary:hover {
  background-color: #006aff;
}

.btn-primary.sign-in {
  background-color: white;
  color: #006aff;
  border: 1px solid #006aff;
}

.btn-primary.sign-in:hover {
  background-color: #006aff;
  color: white;
}

.jumbotron {
  padding-top: 51px;
  padding-bottom: 180px;
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
  background-position: center;
  color: white;
  margin-bottom: 0;
}

#fast-sign-up {
  background-color: white;
  height: 469px;
  max-width: 370px;
  border-radius: 8px;
  color: #031b4e;
  font-weight: bold;
  margin: 50px auto;
}

#fast-sign-up p {
  font-weight: 500;
  font-size: 18px;
  padding: 20px;
  background-color: #f3f5f9;
  border-radius: 8px 8px 0 0;
}

.form-sign-up {
  width: 80%;
  margin-left: 34px;
}

.jumbotron .form-control {
  margin-bottom: 10px;
  padding: 25px;
  border-color: rgba(194, 194, 194, 0.5);
  box-shadow: none;
  line-height: 0;
}

.jumbotron .form-control::placeholder {
  color: rgba(130, 130, 130, 1);
  font-weight: lighter;
}

.jumbotron .form-control:focus {
  border-color: #0069ff;
  outline: #0069ff;
  box-shadow: none;
}

.btn-primary.btn-lg.form-control:hover {
  background-color: #1633ff;
  transition: all .3s;
}

.jumbotron .btn-primary.btn-lg.form-control {
  margin-bottom: 30px;
}

.sign-up-with-google {
  width: 80%;
  margin-left: 34px;
}

.sign-up-with-google button {
  border: none;
  border: 1px  solid #1633ff;
  font-size: 1em;
}

#sign-up-hover:hover {
  color: black;
  border-color: black;
  background-color: white;
}

#gmail::before {
  content: '\f1a0';
  font-family: "Font Awesome 5 Brands";
  font-weight: bold;
  color: #1633ff;
}

 #github  {
   border-color: #1633ff;
   color: #1633ff;

 }

 #github:hover {
   border-color: black;
   background-color: white;
 }

 #sign-up-hover {
   width: calc(100% - 55px);
   color: #1633ff;
 }

 .terms-of-service {
   margin: 20px auto;

 }

 small a, .footer-title-list {
   color: white;
 }

 small a:hover {
   color: white;
 }

#partners, #designed-for-developers, #development {

  background-color: #f2f5f9;
  padding-top: 50px;
  padding-bottom: 70px;
}

.deploy-text {
  font-size: 20px;
}

.deploy-menu {
  border-bottom: 3px solid #e5e8ec;

}

.deploy-menu ul li {
  display: inline-block;
  font-size: 16px;

}

.deploy-menu ul li a {
  color: rgb(130, 130, 130);
  padding: 0 10px;
  text-decoration: none;
}

.features {
  text-align: center;
  font-size: 16px;
}

#deploy-and-scale {
  padding-bottom: 100px;
}

#screenshot {
  position: relative;
}

.screen {
  width: 90%;
  margin: 0 auto;
}

.circle a {
  padding: 5px;
}

.circle a i {
  font-size: 10px;
}

#built-for-business {
  padding-top: 50px;
  padding-bottom: 100px;
}

.business-features {
  text-align: center;
}

.name-business-features {
  font-size: 18px;
}

.name-business-features + p{
  font-size: 16px;
}

a.caret-right {
  text-decoration: none;
}

#data-centers {
  background: url("https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg") 50% 50% / cover no-repeat rgb(3, 27, 78);

  color: white;

  padding-bottom: 100px;
}

#title-data {
  color: white;
}

.text-data a {
  text-decoration: none;
  color: #0069ff;
}

.data-list {
  border-bottom: 1px solid #929cb2;
  padding-bottom: 10px;
}

.data-list span {
  color: #929cb2;
}

.data-list a {
  color: rgb(0, 215, 210);
  text-decoration: none;
  font-size: 12px;

}

.data-list a:hover {
  color: #1633ff;
}

.test-speed, .city-code {
}

.city-code, .test-speed {
  font-size: 13px;
}

.last-data {
  border-bottom: 1px solid #929cb2;
}

#toronto-data {
  border-bottom: 0;
}



.development-link {
  color: #0069ff;
}

.development-link:hover {
  text-decoration: none;
  color: #1633ff;
}

.box-quote {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 0px rgba(184,187,191,1);
  position: relative;
}

.rocker-box-logo {
  width: 200px;

}

.marks {
  display: inline-block;
  vertical-align: baseline;
}

#text-quote {
  vertical-align: bottom;
  font-size: 22px;
  color: #5b6987;
}

.quote {
  margin: 0 20px;
  padding-top: 30px;

}

.quote a {
  font-size: 16px;
}

#get-started {
  background-image: url("https://prismic-io.s3.amazonaws.com/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg");
  padding-bottom: 50px;
}

#get-started h2 {
  color: white;
  text-align: center;
}

#create-account {
  color: #005dfe;
  background-color: white;
  padding: 20px 30px;
}

footer {
  background-color: hsl(220,95%,8%);
  padding-bottom: 50px;
}

footer ul {
  list-style: none;
}

.footer-element, #small-logo + span, .social-logo i {
  color: hsla(0,0%,100%,0.5);
}

.footer-element:hover {
  text-decoration: none;
  color: white;
}

footer hr {
  display: inline-block;
  border: 1px solid grey;
}

#small-logo {
  margin-right: 15px;
}

.social-logo {
  line-height: 2.5;
}

.social-logo img:hover {
  filter: invert(100%);
}

.social-logo img {
  padding-right: 3px;
  filter: contrast(0%);
  width: 21px;
  height: 21px;
  margin-top: 10px;
}

#social-row {
  text-align: center;
}

.footer-small-logo {
  text-align: center;
}

/* .city-align {
  vertical-align: super;
} */


/* per visualizzare l'hamburger menu fino ai 992px anziché 768px */
@media (min-width: 768px) {

    .jumbotron h1 {
      font-size: 58px;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none !important; /* per sovrascrivere l'important di bootstrap */
    }

    .deploy-menu ul li {
      display: block;

    }

    .deploy-menu {
      border-bottom: 0;

    }

    .deploy-menu ul li a {
      padding: 20px;
      display: block;
      border-left: 3px solid #e5e8ec;
    }

    .features {
      text-align: left;
    }

    .screen {
      width: 70%;
    }

    .test-speed, .city-code {
      line-height: inherit;
    }

    #social-row {
      text-align: right;
    }

    .footer-small-logo {
      text-align: left;
    }



}

@media (min-width: 992px) {

    .text-jumbotron {
      text-align: left;
    }

    .box-quote::after {
      content: '\f061';
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 110%;
      font-size: 30px;
      transform: translate(-50%, -50%);

    }

    .box-quote::before {
      content: '\f060';
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      position: absolute;
      top: 50%;
      right: 110%;
      font-size: 30px;
      transform: translate(-50%, -50%);
    }

    #screenshot::after {
      content: '\f061';
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 90%;
      font-size: 30px;
      transform: translate(-50%, -50%);
    }
    #screenshot::before {
      content: '\f060';
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      position: absolute;
      top: 50%;
      right: 88%;
      font-size: 30px;
      transform: translate(-50%, -50%);
    }

    .business-features {
      text-align: left;
    }

    #create-account {
      float: right;
    }

    #get-started h2 {

      float: left;
    }

    .last-data {
      border-bottom: 1px solid transparent;
    }


}

/***** Media query fatta solo per l'hamburger menu  *****/
@media (min-width: 1037px) {

    .navbar-top-top {
      display: block;
    }

    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-collapse.collapse {
        display: block !important; /* per sovrascrivere l'important di bootstrap */
    }

    .jumbotron {
      margin-top: 115px;
    }
}
